// COLORS
$color-back--1: #fff;
$color-back--2: #EEFBFB;

$color-back--3:#F2F2F2;

$color-letter--1: #3BA6C9;

$color-linear--1:#FA41CC;
$color-linear--2:#6020B0;
$color-linear--3:#05A5FA;
$color-linear--4:#63FBD7;

$color-mandatory: #0C449B;


// FONT-size
$font-size: 1.6rem;


//font-family
$font: 'Noto Sans JP', sans-serif;


