.mandatory {
    color: white;
    font-size: 1.4rem;
    padding: 0.8rem 1.6rem;
    background-color: $color-mandatory;
    border-radius: 10px;
    margin-bottom: 3.6rem;
    margin-top: 2.5rem;
    display: inline-block;
    margin-left: 2.2rem;

}